
.container {  
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;

}

.popular-recipes-title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  margin-bottom: 32px;

}

.popular-recipes-list {
  margin: 0;
  padding: 0;

  width: 175px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.recipe-card {
  display: flex;
}

.recipe-image {
  display: block;
  width: 48px;
  height:48px;
  object-fit: cover;
  margin-right: 8px;
  border-radius: 8px;
} 

.recipe-info {
  margin: 0;
  padding: 0;
}

.recipe-title {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.recipe-description {
  margin: 0;
  padding: 0;
}